<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>


  <meta property="og:title" content="{{ page.title | default: site.title | escape }}" />
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
  <meta property="og:image" content="{{ site.url }}{{ page.ogp_img | default: '/assets/images/favicon/mylogo.png' }}" />
  <meta property="og:site_name" content="{{ site.title | escape }}" />
  <meta property="og:description"
    content="{% if page.description %}{{ page.description }}{% else %}{% assign excerpt = page.excerpt | strip_html | strip_newlines | truncate: 160 %}{% if excerpt == '' %}{{ site.description }}{% else %}{{ excerpt }}{% endif %}{% endif %}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: '/index.html','/' }}" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />

  <!-- Twitter data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@yutyan_ut">
  <meta name="twitter:creator" content="@yutyan_ut">
  <meta name="twitter:image" content="{{ site.url }}{{ page.ogp_img | default: '/assets/images/favicon/mylogo.png' }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape }}">
  <meta name="twitter:description"
    content="{% if page.description %}{{ page.description }}{% else %}{% assign excerpt = page.excerpt | strip_html | strip_newlines | truncate: 160 %}{% if excerpt == '' %}{{ site.description }}{% else %}{{ excerpt }}{% endif %}{% endif %}">
  <!-- End: Twitter data -->

  <!-- Favicon -->
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/mylogo.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/mylogo.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff"> -->
  <!-- Favicon -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-23FTT871PB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-23FTT871PB');
  </script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
  {% include toggle_theme_js.html %}
  {% endif %}

  {%- include custom_head.html -%}
</head>