<script type="text/javascript">
  window.addEventListener('load', themeChange);
  const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
  if (currentTheme)
    document.documentElement.setAttribute('data-theme', currentTheme);

  function themeChange() {
    let button = document.querySelector('.theme-toggle');

    button.addEventListener('click', function (e) {
      let currentTheme = document.documentElement.getAttribute('data-theme');
      if (currentTheme === 'dark') {
        transition();
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem('theme', 'light');
      } else {
        transition();
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
      }
    });

    let transition = () => {
      document.documentElement.classList.add('transition');
      window.setTimeout(() => {
        document.documentElement.classList.remove('transition');
      }, 1000);
    }
  }

//   window.onload = function() {
//   // ページ内の全てのaタグを取得
//   const links = document.getElementsByTagName('a');

//   Array.from(links).forEach((link) => {
//     // aタグが子要素を持つ場合や、リンクのテキストがURLと異なる場合はスキップ
//     if (link.href !== link.textContent) {
//       return;
//     }

//     const url = link.href;

//     // 各URLからOGP情報を取得
//     fetchOgpInfo(url).then((ogpInfo) => {
//       // OGP情報がある場合、リンクを詳細なブロックに置き換え
//       if (ogpInfo) {
//         const container = document.createElement('div');
//         container.classList.add('ogp-container');

//         const img = document.createElement('img');
//         img.src = ogpInfo.images[0];

//         const title = document.createElement('div');
//         title.textContent = ogpInfo.title;

//         container.appendChild(img);
//         container.appendChild(title);

//         const linkContainer = document.createElement('a');
//         linkContainer.href = ogpInfo.url;
//         linkContainer.appendChild(container);

//         link.replaceWith(linkContainer);
//       }
//     });
//   });
// }

// function fetchOgpInfo(url) {
//   return fetch(`https://jsonlink.io/api/extract?url=${encodeURIComponent(url)}`)
//     .then(response => response.json())
//     .then((data) => {
//       if (data && data.images && data.images.length > 0) {
//         return data;
//       }
//       return null;
//     })
//     .catch(err => {
//       console.error('Error:', err);
//     });
// }

</script>